<!--
    Shortcuts and registry markers. Application files are harvested from
    bin\Release\publish\ (see SparkleShare.Windows.Installer.wixproj).
-->
<?include Predefines.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="Components">
            <Component Guid="$(var.ProductComponentGUID)" Directory="INSTALLFOLDER">
                <Shortcut Id="ApplicationStartMenuShortcut" Directory="ApplicationProgramsFolder" Advertise="no"
                    Icon="icon.ico" Name="$(var.Name)"
                    Description="Launch $(var.Name) application"
                    Target="[INSTALLFOLDER]SparkleShare.exe"
                    WorkingDirectory="INSTALLFOLDER" />

                <Shortcut Id="UninstallProduct" Directory="ApplicationProgramsFolder" Advertise="no"
                    Icon="icon.ico"
                    Name="$(var.Name) uninstall"
                    Description="Uninstalls $(var.Name)"
                    Target="[System64Folder]msiexec.exe"
                    Arguments="/x [ProductCode]" />

                <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
                <RemoveFolder Id="ApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" KeyPath="yes" Value="1" />
            </Component>

            <Component Directory="DesktopFolder" Condition="ADDDESKTOPSHORTCUT">
                <Shortcut Id="ApplicationDesktopShortcut" Directory="DesktopFolder" Advertise="no"
                    Icon="icon.ico" Name="$(var.Name)"
                    Description="Launch $(var.Name) application"
                    Target="[INSTALLFOLDER]SparkleShare.exe"
                    WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.Name)" Name="shortcut_installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
